<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>24695697480-l8359bin1p8gec1e891gogq82418epeb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.24695697480-l8359bin1p8gec1e891gogq82418epeb</string>
	<key>API_KEY</key>
	<string>AIzaSyBJ5QzVDlbm0Fw0l12YdM7w8d_hKL_XKBM</string>
	<key>GCM_SENDER_ID</key>
	<string>24695697480</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.halid.FunQuiz</string>
	<key>PROJECT_ID</key>
	<string>fun-quiz-5da2e</string>
	<key>STORAGE_BUCKET</key>
	<string>fun-quiz-5da2e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:24695697480:ios:2892d8e9236d127aac287d</string>
</dict>
</plist>